.background_ptn{
    background: url(/Src/Static/img/low.png) #c2c5aa;
    background-size: 35rem;
}

nav{
    box-shadow: #18181b39 0 0 15px;  
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-family: vazir;
}

.nav-menu{
    transform: translateY(-3px);
}

.nav-brand img{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.nav__button{
    background-color: #f9f9f9;
    text-decoration: none;
    color: #3c4859;
    border: 1px solid #bfc5cd;
    padding: 10px 16px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
}

.navbar__toggler__icon{
    margin-left: 30px;
}

.burger-btn {
    overflow: visible;
    cursor: pointer;
    fill: #1e272e;
    width: 1.75rem;
  }
  
  .burger-btn--1, .burger-btn--2, .burger-btn--3 {
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  .burger-btn.active .burger-btn--1 {
    -webkit-transform: translate(-7px, 7px) rotate(45deg);
            transform: translate(-7px, 7px) rotate(45deg);
  }
  
  .burger-btn.active .burger-btn--2 {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  
  .burger-btn.active .burger-btn--3 {
    -webkit-transform: translate(-7px, -7px) rotate(-45deg);
            transform: translate(-7px, -7px) rotate(-45deg);
  }

.navbar__toggler__icon:hover .nav__menu{
    display: block;
}

*{
    box-sizing: border-box;
}

.product{
    width: 85%;
    display: grid;
    margin: auto;
    margin-top: 5rem;
    grid-template-columns: repeat(autofit, 1fr);
    box-shadow: #18181b39 0 0 40px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.card_thumb {
    flex-shrink: 0;
    object-fit: cover;
    width: 50px;
    height: 50px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.product_img{
    height: 250px;
    overflow: hidden;
    display: block;
    margin: auto;
}

.product_info{
    box-shadow: #18181B 0 0 40px;
    width: auto;
    transform: translate(2rem, -10%);
    -webkit-transform: translate(2rem, -10%);
    -moz-transform: translate(2rem, -10%);
    -ms-transform: translate(2rem, -10%);
    -o-transform: translate(2rem, -10%);
    grid-column: 1;
}

.product_dstp{
    grid-column: 4;
    padding-left: 2.5rem;
}

.container{
    flex-direction: column;
}

.seller{
    margin-top: 1rem;
    
}
.seller > div{
    box-shadow: #18181b61 0 0 40px;
}

@media(max-width: 991.98px){
    .product{
        width: 95%;
    }
    .product_info{
        transform: translate(1rem, -10%);
        -webkit-transform: translate(1rem, -10%);
        -moz-transform: translate(1rem, -10%);
        -ms-transform: translate(1rem, -10%);
        -o-transform: translate(1rem, -10%);
    }
}

@media (min-width: 800px) {
    .truncate{
    display: block;
    max-width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}

@media(max-width: 800px){
    .product{
        display: flex;
        flex-direction: column;
    }
    .product_info{
        transform: translate(0, -3rem);
        -webkit-transform: translate(0, -3rem);
        -moz-transform: translate(0, -3rem);
        -ms-transform: translate(0, -3rem);
        -o-transform: translate(0, -3rem);
        width: 70%;
        display: block;
        margin: auto;
    }

    .product_dstp{
        text-align: center;
        padding: 0 2.5rem;
    }

    .seller{
        display: block;
        margin: auto;
    }
}

@media (max-width: 560px) {
    .product_info{
        width: 95%;
    }
}
