:root {
    --surface-color: rgba(255, 252, 238, .95);
    --curve: 40;
}

*{
    box-sizing: border-box;
    font-size: 17px;
}

body{
    font-family: "Yekan Bakh";
}

.product_system{
    display: grid;
    grid-template-areas:
    "sidebar nav nav nav nav" 
    "sidebar content content content content"
    "sidebar content content content content"
    "sidebar content content content content"
    "sidebar content content content content"
    "sidebar content content content content"
    ;
}

.sidebar_logo{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.product_nav{
    grid-area: nav;
}

.dashbord{
    grid-area: sidebar;
}

.product_list{
    grid-area: content;
}

input,
input:focus,
textarea,
textarea:focus{
    outline: none;
}

.truncate{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}