:root {
    --surface-color: rgba(255, 252, 238, .95);
    --curve: 40;
}

*{
    box-sizing: border-box;
    font-size: 17px;
}

body{
    font-family: "Yekan Bakh";
}

.product_system{
    display: grid;
    grid-template-areas:
    "nav nav nav nav" 
    "content content content content"
    "content content content content"
    "content content content content"
    "content content content content"
    "content content content content"
    ;
}

.align_center{
    display: flex;
}

.product_nav{
    grid-area: nav;
}

.dashbord{
    grid-area: sidebar;
}

.product_list{
    grid-area: content;
}

input,
input:focus,
textarea,
textarea:focus{
    outline: none;
}

.truncate{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.log_out{
    position: absolute;
    transform: translate(-20px, 45px);
    -webkit-transform: translate(-20px, 45px);
    -moz-transform: translate(-20px, 45px);
    -ms-transform: translate(-20px, 45px);
    -o-transform: translate(-20px, 45px);
}

.log_out a{
    background: red;
padding: 6px 10px;
font-size: 15px;
}

/* ---------------------------menu-toggler --------------------------------*/

.navbar_toggler{
    position: relative;
    top: 10px;
}

.burger-btn {
    overflow: visible;
    cursor: pointer;
    fill: #1e272e;
    width: 2rem;
    display: none;
  }
  
  .burger-btn--1, .burger-btn--2, .burger-btn--3 {
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  .burger-btn.active .burger-btn--1 {
    -webkit-transform: translate(-7px, 7px) rotate(45deg);
            transform: translate(-7px, 7px) rotate(45deg);
  }
  
  .burger-btn.active .burger-btn--2 {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
  }
  
  .burger-btn.active .burger-btn--3 {
    -webkit-transform: translate(-7px, -7px) rotate(-45deg);
            transform: translate(-7px, -7px) rotate(-45deg);
  }
  /* ---------------------------menu-toggler --------------------------------*/


  .dashbord_input{
      display: none;
      width: fit-content;
  }

  @media(max-width: 1100px){

    .dashbord{
        position: absolute;
        z-index: 1000;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }

    .burger-btn{
        display: block;
    }

    .dashbord_input{
        display: block;
    }
    .nav_input{
        display: none;
    }
}

@media(min-width: 1100px){
    .product_system{
        display: grid;
        grid-template-areas:
        "sidebar nav nav nav nav" 
        "sidebar content content content content"
        "sidebar content content content content"
        "sidebar content content content content"
        "sidebar content content content content"
        "sidebar content content content content"
        ;
    }
}