.custom_Grid{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
    grid-gap: 1rem !important;
}

.userEdit{
    display: none !important;
}

.panelSwiper{
    display: none;
}


@media screen and (max-width: 1140px){
    .UserProfile{
        position: absolute !important;
        left: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    .userEdit{
        display: flex !important;
    }
}



@media screen and (max-width: 991.98px){
    .userEdit{
        display: none !important;
    }
    .custom_Grid{
        display: none !important;
    }
    .panelSwiper{
        display: flex !important;
    }
}

@media screen and (min-width: 991.98px) {
    .Customgrid{
        display: grid;
        grid-template-columns: 4fr auto;
    }
}
