body{
    font-family: Vazir;
    scroll-behavior: smooth;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

/* -------------Header--------------- */

nav{
    border-bottom: 1px solid #bfc5cd;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.nav-menu{
    transform: translateY(-3px);
}

.nav-brand img{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.nav-button{
    background-color: #f9f9f9;
    text-decoration: none;
    color: #3c4859;
    border: 1px solid #bfc5cd;
    padding: 10px 16px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
}


/* -------------Background - Section1--------------- */

.section-img::before{
    content: "";
    position: absolute;
    background: url(../img/Back\ -1.jpg);
    width: 100%;
    height: 570px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: 1px solid #bfc5cd;
    border-radius: 20px;
    transform: translateY(-10%);
    filter: blur(5px) ;
}

.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.tr{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.top-text{
    font-family: 'lalezar';
    font-size: clamp(1rem, 10vw, 4rem);
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    margin-top: 7vh;
    text-shadow: 4px 1px 7px #293241;
}

.subtitle{
    font-family: 'vazir';
    font-size: 1.5rem;
    font-weight: 900;
    color: #E0FBFC;
}

.start-btn a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #eee;
    background-color: #3D5A80;
    border-radius: 10px;
    transition: all 1.5s;
}

.start-btn a:hover{
    background-color: #061A23;
    color: blanchedalmond;
}

/* -------------Property - Section2--------------- */

.section-property{
    background-color: #f9f9f9;
    z-index: 100;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: 460px;
    -webkit-border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    -ms-border-radius: 40px 40px 0 0;
    -o-border-radius: 40px 40px 0 0;
}

.header-title{
    font-family: 'lalezar';
    font-size: clamp(1rem, 10vw, 4rem);
    text-align: center;
    position: relative;
    top: 35px;
    color: #300338;
}

.card__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 6rem 0;
  }
  
  .property__card {
    max-width: 280px;
  }
  
  .property__card svg {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
  }
  
  .color1 {
    color: #3F3F46;
  }
  
  .color2 {
    color: #18181B; 
  }
  
  .color3 {
    color: #57534E;
  }
  
  .card__body h3 {
    font-family: lalezar;
    text-align: center;
  }
  
  .card__body p {
    font-family: vazir;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
  }

  .intro {
    margin-top: 460px;
  }
  
  .intro img {
    width: 50vw;
    border-radius: 150px 50px;
    -webkit-border-radius: 150px 50px;
    -moz-border-radius: 150px 50px;
    -ms-border-radius: 150px 50px;
    -o-border-radius: 150px 50px;
    -webkit-filter: blur(0.4px) contrast(1.2);
            filter: blur(0.4px) contrast(1.2);
  }
  
  .border {
    margin: auto;
    border: 0 !important;
  }
  
  .intro__img {
    margin-right: 1.5rem;
  }
  
  .intro__text {
    margin-left: 1.5rem;
    text-align: center;
  }
  
  .intro__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /*# sourceMappingURL=main.css.map */

.custombrownboxShadow{
    background: #18181B;
    box-shadow: #18181B 0 0 40px;
}
.customorangeboxShadow{
    background: #3F3F46;
    box-shadow: #3F3F46 0 0 40px;
}
.customindigoboxShadow{
    background: #404040;
    box-shadow: #404040 0 0 40px;
}
.customgreenboxShadow{
    background: #39312c;
    box-shadow: #39312c 0 0 40px;
}
.customgrayboxShadow{
    background: #57534E;
    box-shadow: #57534E 0 0 40px;
}
.customYellowBoxShadow{
    background: #374151;
    box-shadow: #374151 0 0 40px;
}

.bg{
    background: url(../img/school.png);
}

.custom-shape-divider-bottom-1647335588 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1647335588 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 144px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1647335588 .shape-fill {
    fill: #FFFFFF;
}


/* -------------Media query--------------- */

@media(max-width: 991.98px){
    .card__container {
        gap: 5rem;
      }
}

@media(max-width: 767.98px)
{   
    .menu li{
        max-width: 100%;
        margin-bottom: 5px;
        border: 1px solid #bfc5cd;
        border-radius: 10px;
        padding: 10px 16px;
        background-color: #293241;
        cursor: pointer;
    }
    .menu a{
        color: #eee;

    }
    .button{
        position: relative;
        margin-top: 0;
    }
    .header-btn{
        max-width: 100%;
        display: block;
        text-align: center;
    }
    .section-img{
        background-position-x: -100px;
    }
}

@media(max-width: 520.98px)
{
    .section-property{
        top: 370px;
    }
}

@media(max-width: 500.98px)
{
    .section-property{
        top: 370px;
    }
}

@media(max-width: 575.98px)
{
    .section-img{
        background-position-x: -250px;
    }
    .subtitle{
        font-size: 1rem;
    }
    .card__container {
        gap: 2rem;
      }
}
