.intro{
    margin-top: 460px;

    img{
        width: 50vw;
        border-radius: 150px 50px;
        -webkit-border-radius: 150px 50px;
        -moz-border-radius: 150px 50px;
        -ms-border-radius: 150px 50px;
        -o-border-radius: 150px 50px;
        filter: blur(.4px) contrast(1.2);
}
}

.border{
    margin: auto;
    border: 0 !important;
}

.intro__img{
    margin-right: 1.5rem;
}

.intro__text{
    margin-left: 1.5rem;
    text-align: center;
}


.intro__body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

